// colors
$black: #444;
$blue: hsla(205.20, 85.23%, 65.49%, 1.00);
$grey: hsla(0.00, 0.00%, 98.33%, 1.00);
$orange: rgb(245, 166, 65);
$green: hsla(108.00, 76.72%, 62.94%, 1.00);
$pink: hsla(357.67, 84.31%, 70.00%, 1.00);

// fonts
$sans-font: 'Source Sans Pro', sans-serif;

// round
$round: 10px;