<h1>Attributes</h1>
<form>
    <div class="valueAttr" ng-repeat="(key, value) in input.valueAttr track by $id($index)">
        <div class="clearfix row">
            <input class="back" type="text" ng-model="input.valueAttr[key]" placeholder="{{key}}" >
            <input class="back" type="checkbox" checked data-toggle-input value="{{input.valueAttr[key]}}">
        </div>
        <label class="{{key}}" show-hover-info>{{key}}</label>
    </div>
    <div class="booleanAttr" ng-repeat="(key, value) in input.booleanAttr track by $id($index)">
        <label class="{{key}}" show-hover-info>
            <input type="checkbox" ng-model="input.booleanAttr[key]">{{key}}
        </label>
    </div>
</form>

<div class="style-selector">
    {{styleSelector}}
</div>

<ul class="links">
    <li ng-repeat="(key, value) in input.links track by $id($index)"><a ng-href="{{input.links[key]}}">{{key}}</a></li>
</ul>
<div id="attribute-info-box">

</div>