<h1>Attributes</h1>
<form>
    <!-- <div ng-if="input.formats" data-select-box data-obj="{{input}}">{{input}}</div> -->
    <div class="valueAttr" ng-repeat="(key, value) in input.valueAttr track by $id($index)">
        <div class="clearfix row">
            <input class="back " type="text" ng-model="input.valueAttr[key]" placeholder="{{key}}" disabled="disabled">
            <input class="back" type="checkbox" data-toggle-input data-key="{{key}}" ng-click="something()" value="{{input.valueAttr[key]}}">
        </div>
        <label class="{{key}}" show-hover-info>{{key}}</label>
    </div>
    <div class="booleanAttr clearfix row">
        <label class="{{key}} grid-3" show-hover-info ng-repeat="(key, value) in input.booleanAttr track by $id($index)">
            <input type="checkbox" ng-model="input.booleanAttr[key]">{{key}}
        </label>
    </div>
</form>

<div class="style-selector">
    {{styleSelector}}
</div>

<hr>

<ul class="links">
    <li ng-repeat="(key, value) in input.links track by $id($index)"><a ng-href="{{input.links[key]}}">{{key}}</a></li>
    <li><a href="http://www.chromium.org/developers/web-platform-status/forms">Chromium HTML5 Form Status</a></li>
    <li><a href="https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/Forms?redirectlocale=en-US&redirectslug=HTML%2FForms">MDN Forms Guide</a></li>
</ul>
<div id="attribute-info-box">

</div>