<nav class="nav-wrap">
    <ul class="nav">
        <li class="type-link text-link"><a title="Text Input Type" href="/#/inputs/text">text</a></li>
        <li class="type-link email-link"><a title="Email Input Type" href="/#/inputs/email">email</a></li>
        <li class="type-link search-link"><a title="Search Input Type" href="/#/inputs/search">search</a></li>
        <li class="type-link url-link"><a title="Url Input Type" href="/#/inputs/url">url</a></li>
        <li class="type-link tel-link"><a title="Tel Input Type" href="/#/inputs/tel">tel</a></li>
        <li class="type-link color-link"><a title="Color Input Type" href="/#/inputs/color">color</a></li>
        <li class="type-link range-link"><a title="Range Input Type" href="/#/inputs/range">range</a></li>
        <li class="type-link date-link"><a title="Date Input Type" href="/#/inputs/date">date</a></li>
        <li class="type-link datetime-link"><a title="Datetime Input Type" href="/#/inputs/datetime">datetime</a></li>
        <li class="type-link datetime-local-link"><a title="Datetime-Local Input Type" href="/#/inputs/datetime-local">datetime-local</a></li>
        <li class="type-link month-link"><a title="Month Input Type" href="/#/inputs/month">month</a></li>
        <li class="type-link time-link"><a title="Time Input Type" href="/#/inputs/time">time</a></li>
        <li class="type-link week-link"><a title="Week Input Type" href="/#/inputs/week">week</a></li>
        <li class="type-link checkbox-link"><a title="Checkbox Input Type" href="/#/inputs/checkbox">checkbox</a></li>
        <li class="type-link radio-link"><a title="Radio Input Type" href="/#/inputs/radio">radio</a></li>
        <li class="type-link reset-link"><a title="Reset Input Type" href="/#/inputs/reset">reset</a></li>
        <li class="type-link submit-link"><a title="Submit Input Type" href="/#/inputs/submit">submit</a></li>
        <li class="type-link image-link"><a title="Image Input Type" href="/#/inputs/image">image</a></li>
        <li class="type-link button-link"><a title="Button Input Type" href="/#/inputs/button">button</a></li>
        <li class="type-link file-link"><a title="File Input Type" href="/#/inputs/file">file</a></li>
        <li class="type-link password-link"><a title="Password Input Type" href="/#/inputs/password">password</a></li>
        <li class="type-link hidden-link"><a title="Hidden Input Type" href="/#/inputs/hidden">hidden</a></li>
        <li class="type-link number-link"><a title="Number Input Type" href="/#/inputs/number">number</a></li>
    </ul>
</nav>
<hr>