.btn {
  background: $blue;
  @include transition(background 500ms linear);
  border: 0;
  font-size: 1em;
  &:hover {
    background: darken($blue, 10%)
  }
}

.tab-module {
  &:nth-child(1) {
    background: $orange
  }
}