#{$all-text-inputs} {
    // width: 100%;
    margin-bottom: .5em;
}

input:invalid,
textarea:invalid {
    border-color: rgba(238, 105, 105, 0.8);
    -webkit-box-shadow: inset 0 .071428571em .071428571em rgba(236, 51, 51, 0.075), 0 0 .470588235em rgba(214, 12, 12, 0.6);
            box-shadow: inset 0 .071428571em .071428571em rgba(236, 51, 51, 0.075), 0 0 .470588235em rgba(214, 12, 12, 0.6);
    outline: 0;
    outline: thin dotted \9;
}

input:required,
textarea:required {
    border-color: rgba(0, 0, 0, 0.7);
    -webkit-box-shadow: inset 0 .071428571em .071428571em rgba(0, 0, 0, 0.075), 0 0 .470588235em rgba(0, 0, 0, 0.6);
            box-shadow: inset 0 .071428571em .071428571em rgba(0, 0, 0, 0.075), 0 0 .470588235em rgba(0, 0, 0, 0.6);
    outline: 0;
    outline: thin dotted \9;
}

input[readonly], input:disabled {
    background: lighten($grey, 3%);
    border-color: #d3d3d3;
    color: #999;
    &:focus {
        box-shadow: none;
    }
}

#display-form input {
    border: 2px solid $dk-grey;
}