pre {
  background: white;
  border: 1px solid darken($grey, 10%);
  padding: 1em;
  word-break: break-word;
}

.valueAttr {
  label {
    margin-bottom: 1em;
    color: #a7a7a7;
    font-size: .9em;
  }
  input[type="text"] {
    width: 90%;
    margin-bottom: 0;
  }
  input[type="checkbox"] {
    margin-top: .8em;
    width: 5%;
  }
}

.valueAttrRow {
  margin-bottom: 1.5em;
}

.booleanAttrRow {
  margin-bottom: .75em;
}

.slide-enter, .slide-leave {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.slide-frame {
  position:relative;
  height:800px;
  overflow:hidden;
}

.slide-frame > div {
  width:100%;
}

.slide-enter {
  position:absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.slide-enter-active {
  top:0;
  opacity: 1;
}

.slide-leave {
  position:absolute;
  top:0;
  opacity: 1;
}

.slide-leave-active {
  top: 1800px;
  opacity: 0;
}

.link-divider {
  margin: 0 .5em;
}

.tab-module {
  .btn {
    background: $pink;
    color: white;
    &:hover {
      background: darken($pink, 5%);
    }
  }
}