.is-hidden {
  display: none !important;
}

.left, .back, .pull-left {
  float: left;
}

.right, .forward, .pull-right {
  float: right;
}

.btn, a.btn {
	background: $orange;
	color: white;
}

span.is-primary {
  color: $primary-color;
}
