<div id="layout" class="pure-g-r">
	<aside class="pure-u" ng-include src="'views/inputs.html'" ng-controller="InputsCtrl"></aside>
	<div class="pure-u element-container">
		<h1>Input: {{input.type}}</h1>

        <p>{{boundHTML}}</p>

        <!-- Do not copy this source directly, it is compiled by Angular -->
        <div ng-if="{{input.attr.list}}" data-datalist data-input-object="{{input}}"></div>

        <form id="display-form" class="pure-form">
            <input data-input-helper data-input-object="{{input}}" binding-html="boundHTML">
<!--             <input ng-if="input.type == 'radio' || input.type == 'checkbox'" data-input-helper data-input-object="{{input}}">
            <input ng-if="input.type == 'radio' || input.type == 'checkbox'" data-input-helper data-input-object="{{input}}"> -->
            <input class="pure-button" type="submit" value="Submit">
        </form>
        <!-- Instead, use the box created on the page! -->


        <form>
            <div ng-repeat="(key, value) in input.valueAttr track by $id($index)">
                <label>{{key}}</label>
                <input type="text" ng-model="input.valueAttr[key]" placeholder="input.valueAttr[key]">
            </div>
        </form>

        <form>
            <div ng-repeat="(key, value) in input.booleanAttr track by $id($index)">
                <label>
                    <input type="checkbox" ng-model="input.booleanAttr[key]" placeholder="input.booleanAttr[key]">{{key}}
                </label>
            </div>
        </form>



		<pre><code>{{input|json}}</code></pre>
    </div>
</div>