<div id="layout" class="pure-g-r">
	<aside class="pure-u" ng-include src="'views/inputs.html'" ng-controller="InputsCtrl"></aside>
	<div class="pure-u element-container">
		<h1>Input: {{input.type}}</h1>

        <div class="well">
            <!-- Do not copy this source directly, it is compiled by Angular -->
            <div data-input-helper data-input-object="{{input}}"></div>
            <!-- Instead, use the box created on the page! -->
        </div>

		<pre><code>{{input|json}}</code></pre>
    </div>
</div>